# PyInstaller
dist/
build/
*.spec.bak

# Python
__pycache__/
*.exe
*.pyc
*.pyo

# Binários e dados locais
*.exe
config.json

# Dados locais
config.json
*.log

# Cache da página esp32
ui/config/_cyd_pinout.jpg
